table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
    height: 50px;
  }

  th, td {
    background-color: white;
  }

th {
    text-align:center;
    color: black;
}

button {
    color: black;
    background-color: white;
   border: none;
    text-align: left;
    width: 100%;
    height: 100%;
}
 .dividido {
     
     width: 100%;
     height: 42%;
 }


.calendario {
    text-align: center;
}

table {
    display: inline-block;
    text-align: left;
    
}

.domingo-feriado {
    color: red;
}

.outro-mes {
    color: grey;
}
