* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

:root {
  --grey: #f0f0f0f0;
  --dark-grey: #c4c4c4;
  --white: #fcfcfc;
  --black: #333;
  --light-blue: #6263ab;
  --medium-blue: #5251a2;
  --blue: #36357e;
  --light-orange: #fe885c;
  --medium-orange: #fe662e;
  --orange: #fe5517;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  background: var(--white);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  background: var(--white);
  color: var(--orange);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80rem;
  font-size: 3rem;
}

.div-line {
  height: 0.2rem;
  width: 80rem;
  background-color: var(--dark-grey);
}

.main-line {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  background-color: var(--white);
}

.title {
  margin: 1rem 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: var(--grey);
}

.white {
  background-color: var(--white);
}

form,
.calendar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 80rem;
}

span div {
  margin-bottom: 2rem;
}

form input,
form select {
  margin: 2rem 0;
  padding: 0 1rem;
  width: 35rem;
  height: 6.5rem;
  border-radius: 0.5rem;
  background-color: var(--grey);
  font-size: 2rem;
}

#options {
  margin: 2rem 0;
  padding: 0 1rem;
  width: 35rem;
  height: 4rem;
  border: 0.1rem solid var(--medium-orange);
  border-radius: 0.5rem;
  background-color: var(--white);
  font-size: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  height: 6rem;
  margin: 2rem 0;
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
  color: var(--white);
  font-size: 2rem;
}

.myAppointments {
  background-color: var(--medium-orange);
}

.show-date {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
  color: var(--black);
  height: 4rem;
  width: 35rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  width: 80rem;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-top: 2rem;
  border: 0.1rem solid var(--medium-orange);
  background-color: var(--white);
}

.info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
  font-size: 2rem;
  height: 3rem;
  width: inherit;
  border-left: 0.5rem solid var(--medium-orange);
}

.info strong {
  color: var(--medium-blue);
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.btnDelete {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
  border: 0.35rem solid var(--medium-orange);
  border-radius: 0.5rem;
  color: var(--medium-orange);
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
