* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

:root {
  --bg-color: #f6f6f6f6;
  --header: #36357e;
  --white: #f1f1f1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bg-color);
}

header {
  display: flex;
  justify-content: center;
  height: 25rem;
  background: var(--header);
  color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 80rem;
  font-size: 3rem;
  border: 1px solid black;
}

main {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

form input {
  margin: 2rem 0;
  padding: 0 1rem;
  width: 30rem;
  height: 4rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #fe885c;
  font-size: 2rem;
}
